.feedback-form {
    &__heading {
        margin-bottom: 12px;

        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        text-align: center;

        color: $black-text;
    }

    &__field {
        position: relative;
    
        margin-bottom: 10px;
    }

    &__label {
        display: block;
    
        margin-bottom: 4px;
    
        font-size: 12px;
        letter-spacing: 0.01em;
    }

    &__input {
        display: block;
    
        padding: 12px 42px;
        width: 100%;
        height: 40px;
    
        border-radius: 4px;
        border: 1px solid rgba(33, 33, 33, 0.2);
    
        transition: border 250ms $cubic;

        &:hover, &:focus {
            border: 1px solid $accent;
            outline: none;
        }
    }

    &__comment {
        padding: 12px 16px;
        margin-bottom: 20px;
        width: 100%;
        height: 120px;
    
        border-radius: 4px;
        border: 1px solid rgba(33, 33, 33, 0.2);
    
        resize: none;
    
        transition: border 250ms $cubic;

        &:hover, &:focus {
            border: 1px solid $accent;
            outline: none;
        }

        &::placeholder {
            font-size: 12px;
            letter-spacing: 0.01em;
        
            color: rgba(117, 117, 117, 0.5);
        }
    }

    &__terms {
        color: $accent;
    }

    &__submit {
        display: block;
        margin: 30px auto 0 auto;
        padding: 10px 52px;
    
        font-weight: 700;
        font-size: 16px;
        text-align: center;
        letter-spacing: 0.06em;
        line-height: 1.88;
    
        background-color: $accent;
        color: white;
        border-radius: 4px;
        border: none;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        cursor: pointer;
    }

    &__icon {
        position: absolute;
        top: 29px;
        left: 12px;
    
        width: 18px;
        height: 18px;
    
        pointer-events: none;
    
        fill: $black-text;
    
        transition: fill 250ms $cubic;
    }

    &__terms-label {
        position: relative;
    
        display: inline-block;
        padding-left: 36px;
    
        cursor: pointer;
    }

    &__checkbox-icon {
        position: absolute;
        left: 12px;
    
        display: inline-block;
        width: 16px;
        height: 15px;
        margin-right: 8px;
    
        background-image: url(../../images/Vector.svg);
        background-size: contain;
    
        transition: background-image 250ms $cubic;
    }

    &__checkbox {
        appearance: none;

        &:checked + &-icon {
            background-image: url(../../images/icon-check.svg);
        }
    }

    &__input:hover + &__icon, &__input:focus + &__icon {
        fill: $accent;
    }

}