.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;

    transition: opacity 250ms $cubic;
}

.backdrop.is-visually-hidden .modal {
    transform: translate(-50%, -50%);
    opacity: 0;
}

.is-visually-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 528px;
    height: 581px;
    padding: 40px;

    border-radius: 4px;

    background-color: $white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    opacity: 1;

    transition: opacity 250ms $cubic;

    &__close {
        position: absolute;
        top: 8px;
        right: 8px;
    
        width: 30px;
        height: 30px;
    
        background-color: transparent;
        border: none;
    
        cursor: pointer;
    }

    &__close-icon {
        position: absolute;
        top: 0;
        right: 0;
    
        width: 30px;
        height: 30px;
    
        transition: fill 250ms $cubic;

        &:hover, &:focus {
            fill: $accent;
        }
    }
}