.nav {
    &__list {
        display: flex;
        gap: 50px;
    }

    &__item {
        padding-top: 32px;
        padding-bottom: 32px;
    
        color: $black-text;
    
        text-decoration: none;
        letter-spacing: 0.02em;
        font-weight: 500;
    
        transition: color 250ms $cubic;

        &:visited {
            @extend .nav__item
        }

        &:hover, &:focus {
            color: $accent;
        }

        &--current {
            position: relative;
            overflow: hidden;
            color: $accent;

            &:visited {
                color: $accent;
            }

            &::after {
                position: absolute;
                content: "";
                bottom: -1px;
                left: 0;
            
                width: 100%;
                height: 4px;
            
                border-radius: 2px;
                background-color: $accent;
            }
        }
    }
}